


<div>
    <br>
    <label>Search:</label>
    <input [(ngModel)]="searchText">
</div><br>

<table>
    <tr>
        <th>date</th>
        <th>time</th>
        <th>patient's name</th>
        <th>complaint</th>
        
    </tr>
    
    
        <tr *ngFor="let appointment of display_appointments">
            <td>{{ appointment.date | date:"MM/dd/yy" }}</td>
            <td>{{ appointment.time | date:"h:mm a" }}</td>
            <td>{{ appointment._username }}
                <span *ngIf="appointment._userID == _user._id">(You)</span>
            </td>
            <td>{{ appointment.complain }}</td>
            <td>
                <button class="btn btn-outline-secondary btn-sm" *ngIf="appointment._userID == _user._id && appointment.date > today"
                    (click)="delete(appointment._id)">Delete</button>
            </td>
        </tr>
        
        
            
    

</table>
<a [routerLink]="['new_appointment']">Add New Appointment</a>